#kategoriler {
    height: 50px;
    color: #000;
    background-color: #f2f2f2;
    margin-top: 15px;
    padding-top: 14px;
    box-sizing: border-box;
    text-align: center;
    z-index:2;
        position: fixed;
    right: 0px;
    left: 0px;
}

#kategoriler a {
    
    text-decoration:none;
      cursor: pointer;
        padding: 10px 16px;

        border-right:1px solid #b3e5ef;
        border-left:1px solid #b3e5ef;

}

.active, #kategoriler a:hover, .secili {
    background-color: #b3e5ef;
    color: black;
}