        th, tr, td, thead, tbody, table, tfoot {
            box-sizing: border-box;
            
        }

.projeler {
  height:355px;
}
td {
    width:30px;
    text-align: center;
    padding:10px;
    border: 1px solid #eaeaea;
}

.isimler {
    min-width:270px;
    text-align:left;
}
/* header yan yapma css kodlari */
th {
  /* Something you can count on */
  height: 350px;
  white-space: nowrap;
}

th > div {
  transform: 
    /* Magic Numbers */
    translate(39px, 147px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 58px;
}
th > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  width: 178px;

display: inline-block;

text-align: left;
}


        /* satir renkleri farkliliklari */
        tbody>tr:nth-child(even) {
            background-color: #f2f2f2;
            
        }

        tbody>tr:nth-child(odd) {
          
            background-color: #fff;
        }


        tbody:first-child {
          
            background-color: #b7d8e7
        }


        /* mouse ile satir uzerine gelince renklendirme */
        tbody tr:hover {
            background-color:#b3e5ef;
            

        }

        /** birimler ismi en soldaki */

        .birimBasligi {
          
          transform:translate(-51px,21px) rotate(-90deg) ;
          font-size: 34px;
          font-weight: bold;
          position:relative;


        }

        .birimBasligi > ul  {
          right:10px;
          position:absolute;
          list-style: none;
          white-space: nowrap;
        }

.birimBasligi >ul > li {
  
  display:inline-block;

}

.birimBasligi > ul >li a:hover {
  color: black;
  
}

.birimBasligi > ul >li a:focus {
  background-color: #b3e5ef;  
  padding: 13px
}


.birimBasligi a {
text-decoration: none;
display:inline-block;
  padding: 13px

} 

        .birimBasligiSatir {
          max-width:100px;
          min-width:100px;
          vertical-align: top;
   
        }

        .birimBasligiSatir:hover {
            background-color: white;
        }