#kategoriler {
    height: 50px;
    color: #adbebb;
    background-color: #2a3034;
    margin-top: 15px;
    padding-top: 14px;
    box-sizing: border-box;
    text-align: center;
}

#kategoriler a {
    color:#adbebb;
    text-decoration:none;
      cursor: pointer;
        padding: 10px 16px;

        border-right:1px solid #6b3939;
        border-left:1px solid #6b3939;

}

.active, #kategoriler a:hover {
    background-color: #ed4949;
    color: white;
}